.tiny-footer{
  padding-top: 10px;
  padding-bottom: 10px;
  p{
    margin-bottom: 0;
  }
  a{
    font-size: 12px;
  }
  .fa{
    font-size: 16px;
  }
  .large-4{
    text-align: right;
    a.reverse{
      padding-right: 5px;
    }
  }
  @media #{$small-only} {
    li, p {
      text-align: center;
    }
    p {
      margin-top: 8px;
    }
  }
}
