.top-bar {
  a{
    font-weight: bold !important;
  }

  input {
    margin-top: 10px;
  }

  .title-area {
    a{
      color: white;
      font-size: 22px;
      font-weight: 200;

      img {
        height: 40px;
        width: auto;
        margin-top: -10px;
      }

      &:hover {
        opacity: 0.8;
      }
      line-height: 65px;
      padding-left: 30px;
    }
  }
}
dl.sub-nav {
  dd.active a {
    color: $orange;
    font-weight: bold;
  }

  dd.active.white-bg a {
    background-color: white;
  }

  dt {
    text-transform: inherit;
  }

  &.left {
    width: 100%;

    dt a.white-bg {
      background-color: white;
    }

    dt {
      width: 100%;

      a {
        width: 75%;
        border-bottom: solid 3px $primary;
        background-color: $gray-bg;
        font-size: 16px;
      }
    }
  }
}
