.inner-wrap
  %nav.tab-bar.show-for-small
    %section.left-small
      %a.left-off-canvas-toggle.menu-icon
        %span
    %section.middle.tab-bar-section
      %h1 TinySou
      %section.right-small
        %a.right-off-canvas-toggle.menu-icon
          %span
  %aside.left-off-canvas-menu.show-for-small
    %ul.off-canvas-list
      %li
        %a.reverse{href: '/'} 首页
      %li
        %a.reverse{:href => "/engines"} 控制台
  %a.exit-off-canvas
