%nav.tab-bar.show-for-small
  %section.left-small
    %a.left-off-canvas-toggle.menu-icon
      %span
  %section.middle.tab-bar-section
    %a{:href => "/"}
      %h1= 'TinySou'
%aside.left-off-canvas-menu.show-for-small
  %ul.off-canvas-list
    %li
      %a.reverse{href: '/'} 首页
    %li
      %a.reverse{:href => "/engines"} 控制台
%a.exit-off-canvas

%nav.top-bar.hide-for-small{:'data-topbar' => true}
  %ul.title-area
    %li.name
      %a.default{href: '/'}
        = image_tag "logo.png"
        &nbsp;
        TinySou

  %section.top-bar-section
    %ul.right
      %li.active
        %a.reverse{href: '/'} 首页
      %li
        %a.reverse{:href => "/engines"}
          = '控制台'
      / %li
      /   %a.reverse{href: '#'}= t('global.docs')
      / %li
      /   %a{href: "/locale?lang=en"}= 'English'
