.button.primary{
  background-color: $primary;
  color: white;
  &:hover{
    background-color: $primary-hover !important;
  }
}
.button.default{
  background-color: white !important;
  border: solid 1px $gray-border;
  color: $gray-text;
  &:hover{
    border-color: $gray-bg;
    color: black;
  }
}
.button.alert {
  background-color: $alert-color;
  border: solid 1px $gray-border;
  font-weight: bold;
  color: white;
  &:hover {
    background-color: $gray-bg;
    color: #9e6a5e;
  }
}
