body {
  background-color: $gray-bg;
}
.label.info{
  background-color: $info-color;
}
.alert{
  color: $alert-color;
}
.white-bg{
  background-color: white;
}
.gray-bg{
  background-color: $gray-bg;
}
.wrap{
  padding-top: 50px;
  padding-bottom: 50px;
}
