body {
  background-color: $gray-bg;
}

.white-bg {
  background-color: white;
}

.gray-bg {
  background-color: $gray-bg;
}

.wrap {
  padding-top: 50px;
  padding-bottom: 50px;
}

.gray-color {
  color: $gray-text;
}

.white-color {
  color: white;
}

.orange-color {
  color: $orange;
}

.orange-light-color {
  color: $orange-light;
}

.align-center {
  text-align: center;
}
