table {
  border-collapse: collapse;
  width: 100%;
  table-layout:fixed;
  th, td {
    background-color: white;
    border: solid 1px $gray-border;
    border-left: none;
    border-right: none;
  }
  th {
    background-color: $gray-light-bg;
  }
}
