body{
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
}
a{
  color: $primary;
  &:hover{
    color: $primary-hover;
  }
}
hr{
  margin: 0;
}
.default{
  color: $primary-hover;
  &:hover{
    color: black;
  }
}
.reverse{
  color: $primary-hover;
  &:hover{
    color: $primary;
  }
}
.code{
  font-family: monospace;
  background-color: $gray-bg;
  overflow: auto;
}
a.default, .button.default{
  color: $gray-text;
  &:hover{
    color: black;
  }
  &.active{
    color: black;
    font-weight: bold;
    padding-bottom: 8px;
    border-bottom: solid 2px $primary;
  }
}
ul.list{
  list-style: none;
  margin-left: 0;
  li{
    padding: 5px 10px 5px 10px;
    border-bottom: solid 1px $gray-border;
    text-indent: 1em;
    &:last-child{
      border-bottom: none;
    }
  }
}
.label.primary{
  background-color: $primary;
}
.limit-width{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.clipboard-group {
  .js-zeroclipboard {
    cursor: pointer;
    display: none;
    color: $primary-hover;
    &.zeroclipboard-is-hover{
      color: black;
    }
    &.zeroclipboard-is-active{
      color: black;
    }
  }
  &.hover .js-zeroclipboard{
    display: inline-block;
  }
}
td.clipboard-group .js-zeroclipboard {
  position: absolute;
  right: 0;
}
.label.info{
  background-color: $info-color;
}
.alert{
  color: $alert-color;
}
.white-bg{
  background-color: white;
}
.gray-bg{
  background-color: $gray-bg;
}
.wrap{
  padding-top: 50px;
  padding-bottom: 50px;
}
