.brand {
  color: white;
  h2{
    color: white;
    font-weight: bolder;
  }
  background-image: linear-gradient(to bottom, #1c8c9b 0, $primary 80%);
  .button{
    background-color: #ff902a;
    &:hover{
      background-color: #df6d04;
    }
  }
  input {
    height: 51px;
  }
  p{
    font-size: 1.5rem;
  }
  .small-block-grid-3 {
    margin-top: 70px;
    p {
      margin-top: 8px;
      font-size: 1rem;
      color: $gray-bg;
    }
  }
}
.steps .label{
  background-color: #ff902a;
}
