---
title: 关于我们 - 微搜索
keywords: 搜索引擎,站内搜索,应用内搜索,搜索API,关于我们
description: 最好用的站内搜索工具
---

.wrap.white-bg
  .row
    .large-12.columns
      :markdown
        #### 我们为什么要做微搜索

        我们是一个不大的团队，目前只有八个人。现在的每个人都是程序员，连行政都会参与coding。因此，我们创业的理念就是：让开发者的工作更简单！

        在之前的项目中，我们都碰到了"要提供搜索功能"的问题，用过 ElasticSearch。直到我们渐渐意识到，像这样的工作，就跟"服务监控"，"长连接推送"，"发邮件"等等一样，如果能有专门的团队提供服务，由他们去调试，去优化，去运维，而我们只要专注自己的产品核心的开发，该是一件多么有意义的事情。

        于是就这样，我们开始了"微搜索"这样一个项目。

        #### 我们的团队

        我们是真正的极客团队，热爱技术，热爱科技，黑客马拉松次次参加从不落下，boss 报销旅费。

        我们又是年轻的，刚刚离开校园，却已经专注于互联网创业数年，一直追求最 cutting-edge 的技术。

        我们当中有童颜高技术、学妹遍中国、最爱是开源的大 boss；

        热爱科幻、日夜颠倒、可能随时猝死的东北大汉程序猿；

        机灵古怪又居家、极具暴力倾向的前端萌妹子；

        迷迷糊糊的湘妹子小跑腿；

        每天想着女朋友和好吃的的实习生。

        我们每天想着，怎么做出最好的产品，怎么挖掘创新点，怎么用最新最简单的技术解决问题。

        闲着的时候又琢磨，啥时候买个全方向跑步机加全息眼镜呢？

        我们聚集在南京这个城市，我们期待着骄傲的你加入我们。

        #### 联系我们

        我们常年接收骚扰 [support@tinysou.com](mailto:support@tinysou.com)！
