---
title: 微搜索 - 关于我们
keywords: 搜索引擎,站内搜索,应用内搜索,搜索API,关于我们
description: 最好用的站内搜索工具
---

.white-bg
  .row
    %h2 关于我们
    .large-12.columns
      :markdown
        #### 关于微搜索

        微搜索是最好用的站内搜索引擎。

        强大。拥有强大的搜索、快速的自动补全、定制搜索结果和即时的数据分析能力 ，微搜索为您提供了最强大的站内搜索搜索服务。

        简捷。安装微搜索的过程是惊人的简单。几下鼠标点击，几个名称的输入，几次粘贴复制，您的网站或手机应用就拥有了微搜索。

        定制化。每一个网站和每一个手机应用都是不同的。微搜索在不同网站和应用上也是不同的。通过各种方式，开发者可以定制微搜索的搜索内容、搜索结果、搜索类型和显示式样。您只会拥有您最想要的微搜索。

        这就是微搜索，给您全新的站内搜索体验。

        #### 关于我们

        我们是真正的极客团队，我们聚集在南京这个城市，我们期待着骄傲的你加入我们。

        #### 联系我们

        如果您有任何问题或建议，请联系我们[support@tinysou.com]（mailto:support@tinysou.com）。

