---
title: 关于我们 - 微搜索
keywords: 搜索引擎,站内搜索,应用内搜索,搜索API,关于我们
description: 最好用的站内搜索工具
---

.wrap.white-bg
  .row
    .large-12.columns
      :markdown
        #### 关于我们

        我们是真正的极客团队，热爱技术，热爱科技，黑客马拉松次次参加从不落下，boss 报销旅费。

        我们又是年轻的，刚刚离开校园，却已经专注于互联网创业数年，一直追求最 cutting-edge 的技术。

        我们当中有童颜高技术、学妹遍中国、最爱是开源的大 boss；

        热爱科幻、日夜颠倒、可能随时猝死的东北大汉程序猿；

        机灵古怪又居家、极具暴力倾向的前端萌妹子；

        迷迷糊糊的湘妹子小跑腿；

        每天想着女朋友和好吃的的实习生。

        我们每天想着，怎么做出最好的产品，怎么挖掘创新点，怎么用最新最简单的技术解决问题。

        闲着的时候又琢磨，啥时候买个全方向跑步机加全息眼镜呢？

        我们聚集在南京这个城市，我们期待着骄傲的你加入我们。

        #### 联系我们

        我们常年接收骚扰 [support@tinysou.com](mailto:support@tinysou.com)！

