---
title: 关于我们 - 微搜索
keywords: 搜索引擎,站内搜索,应用内搜索,搜索API,关于我们
description: 最好用的站内搜索工具
---

.wrap.white-bg
  .row
    .large-12.columns
      :markdown
        ### 我们为什么要做微搜索

        我们是一个不大的团队，目前只有八个人。现在的每个人都是程序员，连行政都会参与coding。因此，我们创业的理念就是：让开发者的工作更简单！

        在之前的项目中，我们都碰到了"要提供搜索功能"的问题。直到我们渐渐意识到，像这样的工作，就跟"服务监控"，"长连接推送"，"发邮件"等等一样，如果能有专门的团队提供服务，由他们去调试，去优化，去运维，而我们只要专注自己的产品逻辑的开发，该是一件多么有意义的事情。

        于是就这样，我们开始了"微搜索"这样一个项目。

        ### 联系我们

        * Email: [support@tinysou.com](mailto:support@tinysou.com)

- content_for :onready do
  :plain
    $('li.nav-about').addClass('active');
