---
title: 微搜索 - 服务条款
keywords: 搜索引擎,站内搜索,应用内搜索,搜索API,服务条款
description: 最好用的站内搜索工具
---

.white-bg
  .row
    %h2 服务条款
    .large-12.columns
      :markdown
        最后修改日期：2014年9月8日

        #### 欢迎使用微搜索
        感谢你使用微搜索的产品和服务（以下简称“本服务”）。本服务由南京自由风暴网络科技有限公司（以下简称“本公司”）提供，公司地址为：江苏省南京市秦淮区光华路1号。
        在使用服务之前，请您仔细阅读本条款，并确定能充分理解条款中的每一项。一旦您开始使用服务，即视为您已经了解并同意本协议的各项内容，成为微搜索服务的用户。

        #### 使用服务
        请合法使用本服务。

        您使用本服务时必须遵守中华人民共和国相关法律法规的规定，并同意不会利用本服务进行任何违法或者不正当的活动。我们的服务会显示一些用户发布的、不属于本公司的内容，这些内容由用户本身承担全部责任。如果该内容违反了我们的条款或违反法律法规，我们有权停止为该用户提供本服务。

        本服务的知识产权归本公司所有。您使用本服务需要得到本公司的许可或通过其他方式获得法律的许可。本条款并未授予您使用我们服务中所用的任何商标或标志的权利。请勿删除、隐藏或更改我们服务上显示的或随服务一同显示的任何法律声明。

        #### 微搜索帐户
        使用本服务需要您创建一个微搜索帐户。您可以自己创建或者由管理员为您分配微搜索帐户。您的帐户和密码由您负责保管，且您须对您的帐户下的所有行为负责。因此，若您发现存在帐户密码泄露的情况，请务必及时[联系我们]()。

        #### 隐私与版权保护。
        请仔细阅读我们的[隐私政策]()，该政策介绍了我们会如何处理您的个人数据和保护您的隐私。您开始使用本服务，即视为我们可以按照我们的隐私政策使用您的个人数据。

        您上传、提交、存储或显示在本服务中的内容的知识产权归您本身所有。使用本服务，代表您授予本公司存储、查询和分析您提供的信息的权力。本公司未经用户许可，无权修改和删除您的信息。

        #### 责任说明
        本公司仅对本条款中说明的责任承担范围负责。

        我们可以随时修改、暂停或彻底停止本服务，对服务的内容不做具体承诺。

        用户提交的内容引起的不合法或不合理的问题，全部由用户本人负责，我们不承担任何责任。

        #### 关于本条款
        我们会对本条款进行不定期的修改，如为了适应法律变更或者本服务内容变更，对本条款进行修改。所有的修改发布后即生效，且不具有追溯力。您应当定期查阅本条款，如不同意修改后的本条款，应停止使用本服务。

        本条款如与附加条款产生冲突，以附加条款为准。

        本条款约束您与微搜索之间的关系，并受到中华人民共和国法律管辖。您在使用本服务过程中与本公司产生的纠纷，应由双方及时进行协商解决。协商不成，任何一方均向当地法院提起诉讼。











